

@media (max-width:768px) {
  .navbar-btn-item{
    margin-right: 20px;
    margin-left: 20px;
  }
}

@media (max-width:390px) {
  .navbar-btn-item{
    margin-right: 50px;
    justify-content: center;
  }
}
