.mr-1{
  margin-right: 16px;
}

.card-course-height{
  height: 269px;
}


.btn-gradient-list{
  background: linear-gradient(180deg, #09ACF5, #62DB54);
  width: 168px;;
}

.btn-light{
  width: 168px;
}